@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}


/*przed scrollem below*/
nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 0px 80px;
	box-sizing: border-box;
	transition: .3s;
	font-size: 13px;
}

nav.black /*js*/{
	background: rgba(0,0,0,0.8);
	background: rgba(105, 87, 70, 0.88);
	height: 80px;
	padding: 0px 20px; /*padding po scrollu*/

}

nav .logo {
/*	border-bottom: 2px solid pink;*/
	padding: 22px 20px;
	height: 20px;
	float: left;
	font-size: 30px;
	transition: .3s;
	color: white;

}

nav.black .logo {
	color: #fff;

}

nav ul {
	overflow: hidden;
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;

}

nav ul li a {
	display: inline-block;
	line-height: 60px;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

nav.black ul li a {
	color: white;
}

nav ul li a:focus {
	outline: none;
}

nav ul li a.active {

	margin-top: 30px;
	display: inline-block;
	overflow: hidden;
	height: 0px;
	line-height: 0px;
	position: relative;
	color: white;
	font-style: bold;
}

section.sec1 {
	width: 100%;
	height: 100vh;
	background-image: url("BG1.jpg");
	background-size: cover;
	background-position: center;

}


.content {
	margin-top: 80px;
}

.content p {
	width: 80%;
	margin: 30px auto;
	text-align: justify;
	font-size: 14px;
	line-height: 30px;

}

@media screen and (max-width: 768px){
    .logo{
        float: none;
    }
    nav ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }
    nav ul.show{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }

}

#button {
	color: #fff;
	border: 0;
	border-bottom: 1px solid pink;
	transition: all .2s ease-in-out;
}

#button:hover {
	 background-color: pink;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/*background-color: rgba(0,0,0,0.2);*/
}

.modal-content {
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 20px;
	width: 20%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
	animation-name: modalopen;
	animation-duration: 1s;
}

.closeBtn {
	color: pink;
	float: right;
	font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
	color:#ca6b7c;
	cursor: pointer;
	text-decoration: none;
}

@keyframes modalopen{ 
	from {opacity: 0}
	to {opacity: 1}
}